body {
    background-color: rgb(107, 171, 211);
}

header,
nav,
main,
section,
footer {
    background-color: aliceblue;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0.5%;
    padding: 10px;
    color: red;
}

header img {
    width: 30%;
}

#banniere img {
    width: 100%;
    display: block;
}

nav ul li {
    display: inline-block;
    width: 15%;
    padding-top: 1%;
}

nav ul li a {
    text-decoration: none;
    color: red;
    font-size: 14px;
}

#section1 {
    display: flex;
    padding: 10px;
}

#article_accueil img {
    float: left;
    margin-right: 10px;
}

#article_accueil {
    vertical-align: top;
    text-align: justify;
    width: 70%;
    margin-right: 30px;
}

#aside_accueil {
    background-image: url(fond.png);
    height: 25%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 7%;
    width: 20%;
}

#section3 table {
    margin-left: 23%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    border-collapse: collapse;
    background-color: rgb(229, 146, 146);
    border: 1px solid black;
}

#section3 td {
    border: 1px solid black;
    text-align: center;
}

#section3 th {
    border: 1px solid black;
    text-align: center;
}

#section3 {
    padding: 10px;
}

#section3 p {
    width: 55%;
}

#section2 {
    display: flex;
    background-color: aliceblue;
    padding: 10px;
}

#section2 #article_presentation {
    width: 70%;
    text-align: justify;
}

#aside_presentation {
    height: 40%;
    width: 28%;
    border-radius: 10%;
    background-image: url(fond.png);
    padding: 10px;
    margin-left: 2%;
    margin-top: 10%;
    text-align: justify;
}

#aside_presentation #presentation {
    width: 40%;
}

#section4 {
    padding: 10px;
}

#section4 #article_admissions {
    width: 59%;
    text-align: justify;
}

#section5 {
    padding: 10px;
    display: flex;
}

#section5 #article_contact {
    text-align: justify;
    width: 40%;
    margin-right: 10%;
}

#section5 input {
    width: 97%;
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: aliceblue;
}

footer #bloc {
    flex: 1;
    padding: 10px;
}

footer #bloc h3 {
    margin-right: 30%;
}

footer #bloc p {
    color: blue;
}

footer #bloc ul {
    color: #555;
}